@import "@sakun/system.css";
@import "@sakun/system.css/dist/docs.css";

/* override the margin from the library */
.standard-dialog {
  margin-right: 0;
  margin-top: 0;
}

/* override the margin on windows from the library */
.window {
  margin: 0;
}